In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('rotten_tomatoes_top_movies.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1610 entries, 0 to 1609
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1610 non-null   int64
 1   title                     1610 non-null   object
 2   year                      1610 non-null   int64
 3   synopsis                  1602 non-null   object
 4   critic_score              1610 non-null   int64
 5   people_score              1609 non-null   float64
 6   consensus                 1593 non-null   object
 7   total_reviews             1610 non-null   int64
 8   total_ratings             1610 non-null   object
 9   type                      1610 non-null   object
 10  rating                    1139 non-null   object
 11  genre                     1603 non-null   object
 12  original_language         1570 non-null   object
 13  director                  1609 non-null   object
 14  producer                  1490 non-null   object
 15  writer                    1266 non-null   object
 16  release_date_(theaters)   1103 non-null   object
 17  release_date_(streaming)  1595 non-null   object
 18  box_office_(gross_usa)    1102 non-null   object
 19  runtime                   1603 non-null   object
 20  production_co             1487 non-null   object
 21  sound_mix                 925 non-null    object
 22  aspect_ratio              664 non-null    object
 23  view_the_collection       178 non-null    object
 24  crew                      1610 non-null   object
 25  link                      1610 non-null   object
dtypes: float64(1), int64(4), object(21)
memory usage: 327.2+ KB

In [4]:
df.describe()

        Unnamed: 0         year  critic_score  people_score  total_reviews
count  1610.000000  1610.000000   1610.000000   1609.000000    1610.000000
mean    804.500000  1991.745963     92.693789     83.405221     143.652174
std     464.911282    28.054120     11.621759     11.263792     118.137144
min       0.000000  1919.000000      2.000000     10.000000      39.000000
25%     402.250000  1969.000000     92.000000     80.000000      56.000000
50%     804.500000  2005.000000     96.000000     87.000000      90.000000
75%    1206.750000  2014.000000     98.000000     91.000000     205.750000
max    1609.000000  2020.000000    100.000000     98.000000     561.000000

In [5]:
df.isnull().sum()

Unnamed: 0                     0
title                          0
year                           0
synopsis                       8
critic_score                   0
people_score                   1
consensus                     17
total_reviews                  0
total_ratings                  0
type                           0
rating                       471
genre                          7
original_language             40
director                       1
producer                     120
writer                       344
release_date_(theaters)      507
release_date_(streaming)      15
box_office_(gross_usa)       508
runtime                        7
production_co                123
sound_mix                    685
aspect_ratio                 946
view_the_collection         1432
crew                           0
link                           0
dtype: int64

In [7]:
df.dtypes

Unnamed: 0                    int64
title                        object
year                          int64
synopsis                     object
critic_score                  int64
people_score                float64
consensus                    object
total_reviews                 int64
total_ratings                object
type                         object
rating                       object
genre                        object
original_language            object
director                     object
producer                     object
writer                       object
release_date_(theaters)      object
release_date_(streaming)     object
box_office_(gross_usa)       object
runtime                      object
production_co                object
sound_mix                    object
aspect_ratio                 object
view_the_collection          object
crew                         object
link                         object
dtype: object

In [9]:
df = df.astype({'rating':'string'})

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1610 entries, 0 to 1609
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1610 non-null   int64
 1   title                     1610 non-null   object
 2   year                      1610 non-null   int64
 3   synopsis                  1602 non-null   object
 4   critic_score              1610 non-null   int64
 5   people_score              1609 non-null   float64
 6   consensus                 1593 non-null   object
 7   total_reviews             1610 non-null   int64
 8   total_ratings             1610 non-null   object
 9   type                      1610 non-null   object
 10  rating                    1139 non-null   string
 11  genre                     1603 non-null   object
 12  original_language         1570 non-null   object
 13  director                  1609 non-null   object
 14  producer                  1490 non-null   object
 15  writer                    1266 non-null   object
 16  release_date_(theaters)   1103 non-null   object
 17  release_date_(streaming)  1595 non-null   object
 18  box_office_(gross_usa)    1102 non-null   object
 19  runtime                   1603 non-null   object
 20  production_co             1487 non-null   object
 21  sound_mix                 925 non-null    object
 22  aspect_ratio              664 non-null    object
 23  view_the_collection       178 non-null    object
 24  crew                      1610 non-null   object
 25  link                      1610 non-null   object
dtypes: float64(1), int64(4), object(20), string(1)
memory usage: 327.2+ KB

In [11]:
df.dropna()

,Unnamed: 0,title,year,synopsis,critic_score,people_score,consensus,total_reviews,total_ratings,type,...,release_date_(theaters),release_date_(streaming),box_office_(gross_usa),runtime,production_co,sound_mix,aspect_ratio,view_the_collection,crew,link
0,0,Black Panther,2018,"After the death of his father, T'Challa return...",96,79.0,Black Panther elevates superhero cinema to thr...,519,"50,000+",Action & Adventure,...,"Feb 16, 2018 wide","May 2, 2018",$700.2M,2h 14m,Walt Disney Pictures,"DTS, Dolby Atmos",Scope (2.35:1),Marvel Cinematic Universe,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",http://www.rottentomatoes.com/m/black_panther_...
1,1,Avengers: Endgame,2019,"Adrift in space with no food or water, Tony St...",94,90.0,"Exciting, entertaining, and emotionally impact...",538,"50,000+",Action & Adventure,...,"Apr 26, 2019 wide","Jul 30, 2019",$858.4M,3h 1m,"Marvel Studios, Walt Disney Pictures","Dolby Atmos, DTS, Dolby Digital, SDDS",Scope (2.35:1),Marvel Cinematic Universe,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",http://www.rottentomatoes.com/m/avengers_endgame
5,5,Wonder Woman,2017,"Before she was Wonder Woman (Gal Gadot), she w...",93,83.0,"Thrilling, earnest, and buoyed by Gal Gadot's ...",463,"100,000+",Action & Adventure,...,"Jun 2, 2017 wide","Jul 10, 2017",$412.8M,2h 21m,"Atlas Entertainment, Cruel and Unusual","SDDS, Dolby Atmos, DTS",Scope (2.35:1),DC Extended Universe,"Gal Gadot, Chris Pine, Connie Nielsen, Robin W...",http://www.rottentomatoes.com/m/wonder_woman_2017
7,7,Coco,2017,Despite his family's generations-old ban on mu...,97,94.0,Coco's rich visual pleasures are matched by a ...,347,"25,000+",Action & Adventure,...,"Nov 22, 2017 wide","Feb 13, 2018",$210.5M,1h 49m,Pixar Animation Studios,Dolby Atmos,Scope (2.35:1),Pixar,"Anthony Gonzalez, Benjamin Bratt, Alanna Ubach...",http://www.rottentomatoes.com/m/coco_2017
8,8,Thor: Ragnarok,2017,"Imprisoned on the other side of the universe, ...",93,87.0,"Exciting, funny, and above all fun, Thor: Ragn...",430,"50,000+",Action & Adventure,...,"Nov 3, 2017 wide","Feb 17, 2018",$315.0M,2h 10m,Marvel Studios,Dolby Atmos,Scope (2.35:1),Marvel Cinematic Universe,"Chris Hemsworth, Tom Hiddleston, Cate Blanchet...",http://www.rottentomatoes.com/m/thor_ragnarok_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274,1274,Ghostbusters,1984,After the members of a team of scientists (Har...,97,88.0,An infectiously fun blend of special effects a...,73,"250,000+",Science Fiction & Fantasy,...,"Jun 8, 1984 wide","Apr 16, 2012",$298.2M,1h 47m,"Columbia Pictures, Black Rhino Productions","Magnetic Stereo 6 Track, Dolby Stereo, Surround",Scope (2.35:1),Ghostbusters,"Bill Murray, Dan Aykroyd, Harold Ramis, Sigour...",http://www.rottentomatoes.com/m/ghostbusters
1278,1278,The Lord of the Rings: The Two Towers,2002,The sequel to the Golden Globe-nominated and A...,95,95.0,The Two Towers balances spectacular action wit...,255,"250,000+",Science Fiction & Fantasy,...,"Dec 18, 2002 wide","Jun 28, 2011",$342.6M,2h 59m,"New Line Cinema, Saul Zaentz Company","Dolby EX, Dolby SR, Dolby Digital, SDDS, Dolby...",Scope (2.35:1),Lord of the Rings,"Elijah Wood, Ian McKellen, Liv Tyler, Viggo Mo...",http://www.rottentomatoes.com/m/the_lord_of_th...
1294,1294,Blade Runner,1982,Deckard (Harrison Ford) is forced by the polic...,90,91.0,"Misunderstood when it first hit theaters, the ...",121,"250,000+",Science Fiction & Fantasy,...,"Jun 25, 1982 wide","Nov 15, 2016",$3.9M,2h 2m,"Blade Runner Partnership, Ladd Company","Dolby A, Magnetic Stereo 6 Track, Dolby Stereo...","70mm, Scope (2.35:1)",Blade Runner,"Harrison Ford, Rutger Hauer, Sean Young, Edwar...",http://www.rottentomatoes.com/m/blade_runner
1296,1296,Jurassic Park,1993,"In Steven Spielberg's massive blockbuster, pal...",91,91.0,Jurassic Park is a spectacle of special effect...,128,"250,000+",Science Fiction & Fantasy,...,"Jun 11, 1993 wide","May 18, 2015",$401.8M,2h 6m,"Universal Pictures, Amblin Entertainment","Dolby Stereo, DTS, DTS-ES, Surround, Dolby Dig...",Flat (1.66:1),Jurassic Park,"Sam Neill, Laura Dern, Jeff Goldblum, Richard ...",http://www.rottentomatoes.com/m/jurassic_park
1523,1523,Pokémon 3: The Movie,2001,Young Pokémon trainer Ash Ketchum and his loya...,21,53.0,Critics say that the third Pokemon movie has a...,57,"10,000+",Television,...,"Apr 6, 2001 wide","Feb 4, 2017",$17.1M,1h 33m,Warner Brothers/Seven Arts,"Dolby Stereo, Dolby A, SDDS, DTS, Surround, Do...",Flat (1.85:1),Pokémon,"Veronica Taylor, Rachel Lillis, Eric Stuart, A...",http://www.rottentomatoes.com/m/pokemon_3_the_...

In [12]:
df['people_score'].mean()

83.40522063393412

In [13]:
df[df['people_score'].isnull()]

,Unnamed: 0,title,year,synopsis,critic_score,people_score,consensus,total_reviews,total_ratings,type,...,release_date_(theaters),release_date_(streaming),box_office_(gross_usa),runtime,production_co,sound_mix,aspect_ratio,view_the_collection,crew,link
1190,1190,Shithouse,2020,A lonely college freshman forges a strong conn...,97,NaN,A disarmingly tender look at young adult ennui...,58,50+,Romance,...,"Oct 16, 2020 limited","Oct 16, 2020",$18.1K,1h 42m,CMR Productions,NaN,NaN,NaN,"Cooper Raiff, Dylan Gelula, Amy Landecker, Log...",http://www.rottentomatoes.com/m/shithouse

In [14]:
df['people_score'] = df['people_score'].fillna('bfill',axis = 0)

In [15]:
df.isnull().sum()

Unnamed: 0                     0
title                          0
year                           0
synopsis                       8
critic_score                   0
people_score                   0
consensus                     17
total_reviews                  0
total_ratings                  0
type                           0
rating                       471
genre                          7
original_language             40
director                       1
producer                     120
writer                       344
release_date_(theaters)      507
release_date_(streaming)      15
box_office_(gross_usa)       508
runtime                        7
production_co                123
sound_mix                    685
aspect_ratio                 946
view_the_collection         1432
crew                           0
link                           0
dtype: int64

In [16]:
df['people_score']

0       79.0
1       90.0
2       88.0
3       86.0
4       93.0
        ...
1605    46.0
1606    49.0
1607    68.0
1608    20.0
1609    29.0
Name: people_score, Length: 1610, dtype: object

In [22]:
df1 = df['synopsis'].isnull()

In [23]:
df[df1]

,Unnamed: 0,title,year,synopsis,critic_score,people_score,consensus,total_reviews,total_ratings,type,...,release_date_(theaters),release_date_(streaming),box_office_(gross_usa),runtime,production_co,sound_mix,aspect_ratio,view_the_collection,crew,link
147,147,Wallace & Gromit: The Curse of the Were-Rabbit,2005,NaN,95,79.0,The Curse of the Were-Rabbit is a subtly touch...,184,"250,000+",Animation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Peter Sallis, Ralph Fiennes, Helena Bonham Car...",http://www.rottentomatoes.com/m/wallace_and_gr...
151,151,Ernest & Célestine,2014,NaN,98,88.0,"Sweet and visually charming, Ernest & Celestin...",81,"5,000+",Animation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lambert Wilson, Pauline Brunner, Anne-Marie Lo...",http://www.rottentomatoes.com/m/ernest_and_cel...
296,296,Ernest & Célestine,2014,NaN,98,88.0,"Sweet and visually charming, Ernest & Celestin...",81,"5,000+",Art House & International,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lambert Wilson, Pauline Brunner, Anne-Marie Lo...",http://www.rottentomatoes.com/m/ernest_and_cel...
595,595,Homecoming: A Film by Beyoncé,2019,NaN,98,87.0,Beychella forever.,54,"1,000+",Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beyoncé,http://www.rottentomatoes.com/m/homecoming_a_f...
598,598,Jafar Panahi's Taxi,2015,NaN,96,79.0,Jafar Panahi's Taxi offers another round of tr...,106,"2,500+",Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jafar Panahi, Jafar Panahi",http://www.rottentomatoes.com/m/jafar_panahis_...
846,846,Wallace & Gromit: The Curse of the Were-Rabbit,2005,NaN,95,79.0,The Curse of the Were-Rabbit is a subtly touch...,184,"250,000+",Kids & Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Peter Sallis, Ralph Fiennes, Helena Bonham Car...",http://www.rottentomatoes.com/m/wallace_and_gr...
945,945,Homecoming: A Film by Beyoncé,2019,NaN,98,87.0,Beychella forever.,54,"1,000+",Musical & Performing Arts,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beyoncé,http://www.rottentomatoes.com/m/homecoming_a_f...
971,971,Black Is King,2020,NaN,95,90.0,Beyoncé is King.,61,"2,500+",Musical & Performing Arts,...,NaN,"Jul 31, 2020",NaN,1h 25m,NaN,NaN,NaN,NaN,"Beyoncé, Beyoncé",http://www.rottentomatoes.com/m/black_is_king

In [24]:
df['synopsis'] = df['synopsis'].fillna('bfill',axis = 0)

In [26]:
df['synopsis'].isnull().sum()

0

In [27]:
df[df1]

,Unnamed: 0,title,year,synopsis,critic_score,people_score,consensus,total_reviews,total_ratings,type,...,release_date_(theaters),release_date_(streaming),box_office_(gross_usa),runtime,production_co,sound_mix,aspect_ratio,view_the_collection,crew,link
147,147,Wallace & Gromit: The Curse of the Were-Rabbit,2005,bfill,95,79.0,The Curse of the Were-Rabbit is a subtly touch...,184,"250,000+",Animation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Peter Sallis, Ralph Fiennes, Helena Bonham Car...",http://www.rottentomatoes.com/m/wallace_and_gr...
151,151,Ernest & Célestine,2014,bfill,98,88.0,"Sweet and visually charming, Ernest & Celestin...",81,"5,000+",Animation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lambert Wilson, Pauline Brunner, Anne-Marie Lo...",http://www.rottentomatoes.com/m/ernest_and_cel...
296,296,Ernest & Célestine,2014,bfill,98,88.0,"Sweet and visually charming, Ernest & Celestin...",81,"5,000+",Art House & International,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lambert Wilson, Pauline Brunner, Anne-Marie Lo...",http://www.rottentomatoes.com/m/ernest_and_cel...
595,595,Homecoming: A Film by Beyoncé,2019,bfill,98,87.0,Beychella forever.,54,"1,000+",Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beyoncé,http://www.rottentomatoes.com/m/homecoming_a_f...
598,598,Jafar Panahi's Taxi,2015,bfill,96,79.0,Jafar Panahi's Taxi offers another round of tr...,106,"2,500+",Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jafar Panahi, Jafar Panahi",http://www.rottentomatoes.com/m/jafar_panahis_...
846,846,Wallace & Gromit: The Curse of the Were-Rabbit,2005,bfill,95,79.0,The Curse of the Were-Rabbit is a subtly touch...,184,"250,000+",Kids & Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Peter Sallis, Ralph Fiennes, Helena Bonham Car...",http://www.rottentomatoes.com/m/wallace_and_gr...
945,945,Homecoming: A Film by Beyoncé,2019,bfill,98,87.0,Beychella forever.,54,"1,000+",Musical & Performing Arts,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beyoncé,http://www.rottentomatoes.com/m/homecoming_a_f...
971,971,Black Is King,2020,bfill,95,90.0,Beyoncé is King.,61,"2,500+",Musical & Performing Arts,...,NaN,"Jul 31, 2020",NaN,1h 25m,NaN,NaN,NaN,NaN,"Beyoncé, Beyoncé",http://www.rottentomatoes.com/m/black_is_king